<h2>Guess</h2>

<table>
  <tr>
    <th> Guess </th>
    <th> Player</th>
    <th> Asked whom? </th>
    <th> Hacker </th>
    <th> Virus </th>
    <th> Program </th>
    <th> Guess </th>
  </tr>

  {% for i in (1..100) %}
  <tr>
    <td># {{i}}</td>
    <td>
      <p id="player-{{i}}" contenteditable="true"></p>
    </td>
    <td>
      <p id="suspect-{{i}}" contenteditable="true"></p>
    </td>
    <td>
      <select id="hacker-{{i}}" >
        {% for suspect in site.data.suspects %}
          {% if suspect.base_character or suspect.edition == edition %}
            <option value={{suspect.name}}>{{suspect.name}}</option>

          {% endif %}
        {% endfor %}
      </select>
    </td>
  </tr>

  {% endfor %}

</table>
