<h2>Guess</h2>

<table id="guess-table">
  <thead>
  <tr>
    <th> Guess </th>
    <th> Player</th>
    <th> Asked whom? </th>
    <th class="hacker"> Hacker </th>
    <th class="virus"> Virus </th>
    <th class= "program"> Program </th>
    <th> Revealed? </th>
  </tr>
  </thead>

  <tbody>
  {% for i in (1..100) %}
  <tr>
    <td class="count"># {{i}}</td>
    <td>
      <p id="player-{{i}}" contenteditable="true"></p>
    </td>
    <td>
      <p id="suspect-{{i}}" contenteditable="true"></p>
    </td>
    <td class="hacker">
      <select id="hacker-{{i}}" >
        <option value="">Choose...</option>
        {% for suspect in site.data.suspects %}
          {% if suspect.base_character or suspect.edition == edition %}
            <option value={{suspect.name}}>{{suspect.name}}</option>

          {% endif %}
        {% endfor %}
      </select>
    </td>
    <td class="virus">
      <select id="virus-{{i}}" >
        <option value="">Choose...</option>
        {% for weapon in site.data.weapons %}
          {% if weapon.base or weapon.edition == edition %}
            <option value={weapon.name}}>{{weapon.name}}</option>

          {% endif %}
        {% endfor %}
      </select>
    </td>


    <td class="hacker">
      <select id="program-{{i}}" >
        <option value="">Choose...</option>
        {% for room in site.data.rooms %}
          {% if room.base or room.edition == edition %}
            <option value={{room.name}}>{{toom.name}}</option>

          {% endif %}
        {% endfor %}
      </select>
    </td>

    <td>
      <select id="reveal-{{i}}" >
        <option value="">Choose...</option>
        <option value="yes"> Yes </option>
        <option value="no"> No</option>
      </select>
    </td>
  </tr>

  {% endfor %}
  </tbody>

</table>
