<h2>Guess</h2>

<table>
  <tr>
    <th> Guess </th>
    <th> Player</th>
    <th> Asked whom? </th>
    <th> Hacker </th>
    <th> Virus </th>
    <th> Program </th>
    <th> Revealed? </th>
  </tr>

  {% for i in (1..100) %}
  <tr>
    <td># {{i}}</td>
    <td>
      <p id="player-{{i}}" contenteditable="true"></p>
    </td>
    <td>
      <p id="suspect-{{i}}" contenteditable="true"></p>
    </td>
    <td>
      <select id="hacker-{{i}}" >
        <option value="">Choose an Option</option>
        {% for suspect in site.data.suspects %}
          {% if suspect.base_character or suspect.edition == edition %}
            <option value={{suspect.name}}>{{suspect.name}}</option>

          {% endif %}
        {% endfor %}
      </select>
    </td>
    <td>
      <select id="virus-{{i}}" >
        <option value="">Choose an Option</option>
        {% for weapon in site.data.weapons %}
          {% if weapon.base or weapon.edition == edition %}
            <option value={weapon.name}}>{{weapon.name}}</option>

          {% endif %}
        {% endfor %}
      </select>
    </td>


    <td>
      <select id="program-{{i}}" >
        <option value="">Choose an Option</option>
        {% for room in site.data.rooms %}
          {% if room.base or room.edition == edition %}
            <option value={{room.name}}>{{toom.name}}</option>

          {% endif %}
        {% endfor %}
      </select>
    </td>

    <td>
      <select id="reveal-{{i}}" >
        <option value="">Choose An Option </option>
        <option value="yes"> Yes </option>
        <option value="no"> No</option>
      </select>
    </td>
  </tr>

  {% endfor %}

</table>
