<h2>Detective Journal</h2>


<table id="guess-table">
  <thead>
    <tr>
      <th> Guess </th>
      <th> Player</th>
      <th> Asked whom? </th>
      <th class="hacker"> Hacker </th>
      <th class="virus"> Virus </th>
      <th class= "program"> Program </th>
      <th> Revealed? </th>
    </tr>
  </thead>

  <tbody>

    <tr id="history--1">
      <td >
        <button onClick="save_history_to_cookie(-1)">Save</button>
      </td>
      <td>
        <p id="player--1" contenteditable="true"></p>
      </td>
      <td>
        <p id="suspect--1" contenteditable="true"></p>
      </td>
      <td class="hacker">
        <select id="hacker--1" >
          <option value="">Choose...</option>
          {% for suspect in site.data.suspects %}
            {% if suspect.base_character or suspect.edition == edition %}
              <option value={{suspect.name}}>{{suspect.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </td>
      
      <td class="virus">
        <select id="virus--1" >
          <option value="">Choose...</option>
          {% for weapon in site.data.weapons %}
              <option value={{weapon.name}}>{{weapon.name}}</option>
          {% endfor %}
        </select>
      </td>


      <td class="program">
        <select id="program--1" >
          <option value="">Choose...</option>
          {% for room in site.data.rooms %}
            {% if room.base or room.edition == edition %}
              <option value={{room.name}}>{{room.name}}</option>

            {% endif %}
          {% endfor %}
        </select>
      </td>

      <td>
        <select id="reveal--1" >
          <option value="">Choose...</option>
          <option value="yes"> Yes </option>
          <option value="no"> No</option>
        </select>
      </td>
    </tr>

  </tbody>

</table>
