<!-- <ul id ='navbar'>
  <li><a   href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about" onClick="reset_all_cookies" >Reset all</a></li>
</ul> -->

{% assign spliturl = post.url | split: '/' %}
{% assign postname = spliturl[4] | replace: '.html', '' %}

<div id="navbar">
  <a class="active" href="javascript:void(0)">Home</a>
  <a href="javascript:void(0)">News</a>
  <a href="javascript:void(0)">Contact</a>
  <a href="{{post.url" onClick="reset_all_cookies" >{{post.url}}</a>
</div>