<h2>Hackers (Blue)</h2>
<table>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  {% for suspect in site.data.suspects %}
    {% if suspect.base_character or suspect.edition == edition%}
        <tr>
            <td id="clue-sheet-{{suspect.name|url_encode}}" class="guess-component">{{ suspect.name }}</td>
            <td><input id="input-{{suspect.name|url_encode}}" type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
        </tr>
    {% endif %}
  {% endfor %}
  </table>
