/* Multi-Checkbox Button Style */
.multi-checkbox {
  background: transparent;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

.guess-component {
  width: 150px;
}

/* Text changes depending on button status */
.checked {
  font-weight: bold;
}

.x {
  text-decoration: line-through;
}

#guess-table {
  font-family: "Pathway Gothic One", sans-serif;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: 18px;
  min-height: 0.01%;
  overflow-x: auto;
  table-layout: fixed;
}

#guess-table td,
#guess-table th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.hacker,
.hacker select {
  background-color: blue;
  color: white;
  isolation: isolate;
}

.virus,
.virus select {
  background-color: purple;
  color: white;
  isolation: isolate;
}

.program,
.program select {
  color: white;
  background-color: orange;
  isolation: isolate;
}

#guess-table td select,
#guess-table td p {
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  #guess-table {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  #guess-table td,
  #guess-table th {
    overflow-wrap: break-word;
    font-size: 4px;
  }

  .count {
    font-size: 12px !important;
  }
}
