/* Multi-Checkbox Button Style */
.multi-checkbox {
  background: transparent;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.guess-component {
  width: 150px;
}

/* Text changes depending on button status */
.checked {
  font-weight: bold;
  background-color: green!important;
}

.x {
  text-decoration: line-through;
  background-color: red !important;
}

.me {
  font-weight: bold;
  background-color: pink!important;
}



.question{
  background-color: #ffcc5f!important;
}

.hacker,
.hacker select {
  background-color: blue;
  color: white;
  isolation: isolate;
}

.virus,
.virus select {
  background-color: purple;
  color: white;
  isolation: isolate;
}

.program,
.program select {
  color: white;
  background-color: orange;
  isolation: isolate;
  width: 100%;
}

#guess-table p{
  border: 2px solid black;
  background: white;
}

#guess-table tbody tr, #life-history-table tbody tr {
  display: none;
}

@media only screen and (max-width: 767px) {
  /* Force table to not be like tables anymore */
  #guess-table,
  #guess-table thead,
  #guess-table tbody,
  #guess-table th,
  #guess-table td,
  #guess-table tr {
    display: block;
  }

  #guess-table tr {
    margin: 0 0 1rem;
    border: 5px solid black;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #guess-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }


  #guess-table tr:nth-child(odd) {
    background: #ccc;
  }

  #guess-table select{
    width: 100%;
  }

  #guess-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  #guess-table td::before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  #guess-table  td:nth-of-type(1)::before { content: "Guess"; }
  #guess-table td:nth-of-type(2)::before { content: "Player"; }
  #guess-table td:nth-of-type(3)::before { content: "Asked Whom?"; }
  #guess-table td:nth-of-type(4)::before { content: "Hacker"; }
  #guess-table  td:nth-of-type(5)::before { content: "Virus?"; }
  #guess-table td:nth-of-type(6)::before { content: "Program"; }
  #guess-table td:nth-of-type(7)::before { content: "Revealed"; }
}



/* this is for the journal section */

@media only screen and (max-width: 767px) {
  /* Force table to not be like tables anymore */
  #journal-table,
  #journal-table thead,
  #journal-table tbody,
  #journal-table th,
  #journal-table td,
  #journal-table tr {
    display: block;
  }

  #journal-table tr {
    margin: 0 0 1rem;
    border: 5px solid black;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #journal-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #journal-table tr:nth-child(odd) {
    background: #ccc;
  }

  #journal-table select{
    width: 100%;
  }

  #journal-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  #journal-table td::before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  #journal-table  td:nth-of-type(1)::before { content: "Guess"; }
  #journal-table td:nth-of-type(2)::before { content: "Player"; }
  #journal-table td:nth-of-type(3)::before { content: "Asked Whom?"; }
  #journal-table td:nth-of-type(4)::before { content: "Hacker"; }
  #journal-table  td:nth-of-type(5)::before { content: "Virus?"; }
  #journal-table td:nth-of-type(6)::before { content: "Program"; }
  #journal-table td:nth-of-type(7)::before { content: "Revealed"; }
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 99999;
}

#navbar a, #navbar button {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover, #navbar button:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active, #navbar button.active{
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}
/* 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sticky + .content {
  padding-top: 60px;
} */

#navbar button{
  
  box-shadow: 0;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  color:  white;
  background-color: #740112;

}

#life{
  
  box-shadow: 0;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  color:  white;
  background-color: green;
  font-weight: bolder;

}

h1:nth-of-type(1){
  display: none;
}